
<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <h1>Create New Listing</h1>

      <!-- This div is centered and takes 4 columns -->
        <%= simple_form_for @listing do |f| %>
          <%= f.input :listing_name %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :bike_type, collection: ["Fixed-Gear", "Motorized", "Variable-Gear"] %>
          <%= f.input :active, collection: [true, false] %>
          <%= f.input :instruction %>
          <%= f.input :hourly_price %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit  %>
        <% end %>
    </div>
  </div>
</div>


