<div class="content">
  <div class="container">
    <div class="row">
      <% @listings.each do |listing|  %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to listing_path(listing), class: "no-deco" do %>
            <div class="card"
              style="<%= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('#{ cl_image_path listing.photo, height: 300, width: 400, crop: :fill }')" if listing.photo.present? %>">
              <div class="card-name"><h2 class="card-category"><%= listing.listing_name %></h2></div>
              <div class="card-price"><h5><%= listing.hourly_price %> ￥/hour</h5></div>
              <div class="card-distance"><h5><%= @hash_of_distances[listing.id] %> km away</h5></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div
  id="map"
  style="width: 50vw;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;"
  data-markers="<%= @markers.to_json %>"
></div>

</div>
