<div class="show-content">
  <div class="container">
    <div class="row">

      <div class="show-info">

        <h1><%= @listing.listing_name %></h1>
        <%= cl_image_tag(@listing.photo,
      width: 400, height: 300, crop: :fill) %>
        Address: <%= @listing.address %>
        <%= link_to show_user_path(@listing.renter), class: "name-link" do %>
          <h2><%= @listing.renter.first_name %> <%= @listing.renter.last_name %></h2>
        <% end %>
        <h3><%= @listing.hourly_price %> ￥/hour</h3>
        <p>Instructions: <%= @listing.instruction %></p>
        <p>Bike Description: <%= @listing.description %></p>
        <% if @listing.renter == current_user %>
          <%= link_to "Edit Listing", edit_listing_path(@listing), class: "btn btn-default" %>

          <%= link_to listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt bin"></i>
          <% end %>
        <% end %>

        <% user_id = "" %>
        <% user_id = current_user.id unless current_user.nil? %>

        <%= simple_form_for @booking do |f| %>
          <%= f.input :start_date, as: :datetime, discard_minute: true, discard_year: true, ampm: true, default: (Time.use_zone('Asia/Tokyo') { Time.zone.now }) %>
          <%= f.input :end_date, as: :datetime, discard_minute: true, discard_year: true, ampm: true, default:  (Time.use_zone('Asia/Tokyo') { Time.zone.now } + 1.hour ) %>
          <%= f.hidden_field :listing_id, value: @listing.id %>
          <%= f.hidden_field :renter_id, value: user_id %>
          <%= f.button :button, type: :submit, class: "btn btn-danger"  %>
        <% end %>
        <h2>
          <%= pluralize @listing.reviews.size, "review" %>
        </h2>
        <div id="reviews">
          <% if @listing.reviews.blank? %>
            Be the first to leave a review for <%= @listing.listing_name %>
          <% else %>
            <% @listing.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          <% end %>
        </div>
        <%= render 'reviews/form', listing: @listing, review: @review %>
      </div>
    </div>

  </div>
  <div
    id="map"
    style="width: 50vw;
    height: 100vh;
    position: sticky !important;
    top: 0 !important;"
    data-markers="<%= @markers.to_json %>"
  ></div>

  <script type="text/javascript">
    const month = document.getElementById("booking_start_date_1i")
    const day = document.getElementById("booking_start_date_2i")
  </script>
</div>
