<div class="container">
  <div class="row">

    <h1><%= @listing.listing_name %></h1>
    Address: <%= @listing.address %>
    <h3><%= @listing.renter.first_name %> <%= @listing.renter.last_name %></h3>
    <h3><%= @listing.hourly_price %> ￥/hour</h3>
    <p>Instructions: <%= @listing.instruction %></p>
    <p>Bike Description: <%= @listing.description %></p>

  </div>
</div>
